<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> I am one of the deputy directors of the UK SKA Regional Centre. In this role, I lead the project office, develop UK-wide community engagement initiatives and facilitate knowledge exchange with industry and other infrastructures.</p> 
        <p>Prior to this, I co-led the UCL eResearch Domain (2015 - 2022) which developed the capacity and capbility of UCL to undertake digital research through shaping the development of UCL's eInfrastructure; strengthening UCL’s capacity & capability to harness available infrastructure; improving the quality of research funding applications.
        </p>
      </div>
      <div class="col-lg-4">
        <p> I inspire and empower people and organisations to harness new research opportunities created by technology and data advances.  I combine strategic thinking, operational excellence, and strong leadership to drive high quality execution and continuous improvement. I have experience of managing large 
        
         I hold a Dphil in Epigenetics from Oxford University, the project combined *Drosophila* genetics, molecular biology with bioinformatics. 
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
