<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
           <p> I inspire and empower people and organisations to harness new research opportunities created by technology and data advances. </p>
        <p> I am one of the deputy directors of the UK SKA Regional Centre. In this role, I lead the project office, develop UK-wide community engagement initiatives and facilitate knowledge exchange with industry and other infrastructures.</p> 
        <p>Prior to this, I led the UCL eResearch Domain (2015 - 2022) which brought together researchers from all of UCL's faculties. I developed and delivered strategic initiatives which shaped the development of UCL's eInfrastructure, strengthened UCL’s capacity & capability to harness available infrastructure, and improved the quality of research funding applications.
        </p>
      </div>
      <div class="col-lg-4">
             <p>I combine strategic thinking, operational excellence, and leadership to drive high quality execution and continuous improvement. My ability to work across boundaries and to connect seemingly unrelated dots, enables me to develop effective solutions. </p>
        <p> Since 2010, have developed and managed research projects from fellowships to large international collaborations. I developed academic consultancy collaborations with industry, SMEs and other external organisations. </p>
      <p>     I obtained a DPhil in Epigenetics from Oxford University and undertook a postdoctoral fellowship at the Max Planck Institute of Immunobiology and Epigenetics, Freiburg am Breisgau. My research combined Drosophila genetics, molecular biology and bioinformatics. 
        </p>
        
         
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.linkedin.com/in/louisechisholm/" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> LinkedIn Profile
        </a>
      </div>
    </div>
  </div>
</section>
